# OS / editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Credentials & env
.env
keys/
*.pem
*.key
*.crt

# Local data files
data/*.csv
*.xlsx

# dbt + Airflow
dbt_packages/
target/
logs/
airflow/logs/
airflow/keys/
airflow/keys/*.json
.venv/
__pycache__/


# Editor / Cursor AI / VSCode junk
.vscode/
.cursor/
*.cursorignore
*.DS_Store